/* ---------- Variables ---------- */
:root {
    --inactive-link-color: #2b2b2b;
}
[data-theme="dark"] {
    --inactive-link-color: rgba(231, 225, 225, 0.39);
}

/* ---------- Notes ---------- */
.note {
    width: 90%;
}
.folder {
    width: 90%;
}
.button-inactive {
    cursor: pointer;
    background: none;
    border: none;
    color: var(--inactive-link-color);
    font-size: 16px;
    padding: 0;
}
.buttons_div {
    margin-right: 10px;
    float: right;
}
.buttons_new {
    margin-right: 10px;
    float: right;
}

/* ---------- Mobile ---------- */
@media (max-width: 600px) {
    .note {
        width: 100%;
    }
    .folder {
        width: 100%;
    }
}
